.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* HTML Index */

.container {
    width: 430px;
    height: 750px;
    background-image: url('./assets/img/welcomeBackground.jpg');
    background-size: 80rem;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 2.7rem;
}

.titleLogin {
    font-family: Nunito;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5rem;

}

.login input {
    width: 20rem;
    height: 2rem;
    border: 1px solid #001b42;
    border-radius: 0.5rem;
}

.recuperarPw {
    font-family: Nunito;
    font-size: 0.8rem;
    font-weight: 700;
    color: #357EE4;
    margin-left: 3.4rem;
}

.crearCuenta {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    font-family: Nunito;
    font-size: 0.8rem;
}

.preguntaAcc {
    font-weight: 700;
}

.registrate {
    color: #357EE4;
    font-weight: 700;
}

.btn-primary {
    background-color: #233957;
    padding: 5px 70px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Nunito;
    font-weight: 100;
    margin-top: 1rem;
    margin-inline: 5rem;
}

.footer {
    background-color: #7B91B2;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Nunito;
    font-size: 0.8rem;
    margin-top: 12.1rem;
    border-top: 1px solid #001b42;
}

.footer a {
    color: white;
    font-weight: 500;
}

/* HTML MAPA INTERACTIVO */

.containerMap {
    width: 430px;
    height: 750px;
    background-image: url('./assets/img/backgroundNav.png');
    background-size: 50rem;
}

.head {
    background-color: #65788E;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #001b42;
    padding-inline: 1rem;
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.log span {
    font-family: Nunito;
    color: white;
}

.titleMap {
    font-family: Nunito;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    color: #233957;
}

.map {
    margin-top: rem;
}

.map path {
    fill: rgb(220, 191, 191);
    stroke: rgb(0, 0, 0);
}

.map path:hover {
    fill: white;
}

.containerAfluencia {
    margin-top: -3rem;
}

.cuadro {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.afluencia {
    display: flex;
    margin-left: 3rem;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    font-family: Nunito;
    font-size: 0.9rem;
}

#verde {
    background-color: rgb(93, 238, 85);
}

#amarillo {
    background-color: rgb(245, 245, 42);
}

#rojo {
    background-color: rgb(236, 86, 75);
}

.imgBook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingMap {
    width: 380px;
    height: 430px;
    background-color: #FFCFA6;
    border: 2px solid black;
    margin: auto;
    margin-top: 1rem;
   display: none;
}

.bookingMap h3 {
    text-align: center;
    margin: 1rem;
}

.controles {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: max-content;
    margin-top: 1rem;
    gap: 0.5rem;
}

.controles p {
    margin-top: 1rem;
}

.nav {
    background-color: #65788E;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7.5rem;
    border-top: 1px solid #001b42;
}

/* HTML Profile */

.containerProfile {
    width: 430px;
    height: 750px;
    background-color: #DFD7CA;
    background-size: 20rem;
}

.titleProfile {
    font-family: Nunito;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #233957;
}

.containerInfo {
    width: 300px;
    height: 350px;
    background-color: #F5B074;
    margin: auto;
    border: 2px solid #0b1b33;
    margin-top: 1rem;
}

.containerInfo h3 {
    font-family: Nunito;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
    color: #233957;
}

.containerInfo a {
    margin-top: 3rem;
}

.datos div {
    margin-left: 2.8rem;
    margin-top: 1rem;
}

.datos p {
    font-family: Nunito;
}

.direccion, .telefono, .tarjeta {
    font-weight: 600;
}

.dato {
    font-size: 0.8rem;
    font-weight: 300;
}

.titleAyuda {
    font-family: Nunito;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    color: #233957;
}

.ayuda p {
    font-family: Nunito;
    font-weight: 400;
    font-size: 0.8rem;
    color: #207DFF;
    text-align: center;
    margin-top: 0.5rem;
}

.navProfile {
    background-color: #65788E;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.3rem;
    border-top: 1px solid #001b42;
}

/* HTML Bookings */

.containerBookings h1 {
    font-family: Nunito;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #233957;
}

.booking {
    width: 350px;
    height: 110px;
    background-color: #FFCFA6;
    margin: auto;
    box-shadow: 0px 3px rgba(48, 48, 48, 0.4);
    margin-top: 1rem;
    display: flex;
    border-radius: 1rem;
}

.bookinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-family: Nunito;
}

.bookinfo h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

.bookinfo p {
    font-size: 0.8rem;
    font-weight: 200;
}

.price {
    display: flex;
    text-align: end;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 6px;
}

.containerBookings img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navBooking {
    background-color: #65788E;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5.4rem;
    border-top: 1px solid #001b42;
}

/* HTML Notifications */

.containerNotifications {
    width: 430px;
    height: 750px;
    background-color: #FFCFA6;
    background-size: 20rem;
}

.titleNotifications {
    font-family: Nunito;
    font-weight: 600;
    font-size: 2.5rem;
    color: #233957;
    text-align: center;
    margin-top: 2rem;
}

.notification {
    width: auto;
    height: 120px;
    background-color: #DFD7CA;
    box-shadow: 0px 3px rgba(48, 48, 48, 0.2);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification:hover {
    background-color: #cdc0aa;
}

.infoNotification {
    margin-inline: 2rem;
}

.notification img {
    margin-left: 2rem;
}

.msg {
    font-family: Nunito;
    font-size: 0.9rem;
    font-weight: 300;
}

.infoNotification a {
    color: #207DFF;
    font-size: 0.8rem;
    font-weight: 600;
}

.navNotifications {
    background-color: #65788E;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8.9rem;
    border-top: 1px solid #001b42;
}